section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    padding: 3em;
    /* background-color: rgb(48, 0, 111); */
    background-image: url("../img/homer-bg.png");
    background-size: cover;
    border-radius: 5em;
    box-shadow: 0 0 2em rgb(30, 0, 70);
    text-align: right;
    color: black;
}

input {
    font-size: large;
}